{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
      মালামাল
    </title>

    {% include 'base/css.html' %}
    {% block base_head %}{% endblock %}

  </head>

  <body>

    {%include "base/navbar.html" with brand_name="মালামাল"%}

    <div class="container">

      {% block content %}

    </div>

    {% endblock %}
    {% include 'base/js.html'%}

    <script charset="utf-8">
      $(document).ready(function(event){
                var $product_form = $(".form-product-ajax");

                $product_form.submit(function(event) {
                  event.preventDefault();
                  console.log("Hello there!");

                  var $this_form = $(this);
                  var action_endpoint = $this_form.attr("action");
                  var http_method = $this_form.attr("method");
                  var form_data = $this_form.serialize();

                  console.log($this_form.attr("action"), $this_form.attr("method"));
                  $.ajax({
                    url: action_endpoint,
                    method: http_method,
                    data: form_data ,

                    success: function(data){
                      console.log("Top of the morning to you!");
                      console.log(data);
                      console.log("data.added: ", data.added);
                      console.log("data.removed: ", data.removed);

                      var submit_span = $this_form.find(".submit-span");
                      console.log("submit_span.html(): ", submit_span.html());

                      if (data.added){
                        submit_span.html("In cart <button class='btn btn-warning' type='submit'>Remove?</button>");
                      } else {
                        submit_span.html("Not in Cart <button class='btn btn-warning' type='submit' >Add it?</button>");
                      }

                      var $navBarCount = $('.navbar-cart-count');
                      $navBarCount.text(data.cartItemCount);

                      var currentPath = window.location.href;
                      console.log(currentPath);

                      if (currentPath.indexOf("cart") != -1){
                        refreshCart();
                      }
                    },
                    error: function(errorData){
                      console.log("Error: ");
                      console.log(errorData);
                    },
                  });

                });
            });
      function refreshCart(){
        console.log("In current cart");
        var $cartTable = $('.cart-table');
        var cartTBody = $cartTable.find('.cart-table-body');
        //cartTBody.html('<h1>Work in progress</h1>');

        var productRows = cartTBody.find('cart-products')
        
        var refreshCartUrl = '/api/cart/';
        var refreshCartMethod = 'GET';
        var data;
        $.ajax({
          url: refreshCartUrl,
          method: refreshCartMethod,
          data: data,
          success: function(data){
            console.log("Success"); 
            console.log("data: ", data)
            productRows.html("<tr><td colspan=3>Coming this april</td></tr>")
          },
          error: function(errorData){
            console.log("Error: ");
            console.log(errorData);
          },
        })
      }
    </script>

  </body>
</html>
