{%extends "base.html"%}
{% load static %}
<!doctype html>
{%block content%}
<div class='text-center'>
    <h1>Hello, world!</h1>
</div>
<div class="container">
    <div class="row">
            <img src="{%static 'img/himalaya.jpg'%}" class = 'img-fluid'>
        <div class = "col">
            <p>
                {{ content }}
            </p>
        </div>
    </div>
</div>
{%if premium_content%}
<div class = 'row'>
    <div class = 'col'>
        <h1>
            Premium: 
        </h1>
        {{ premium_content}}
    </div>
    <div> {{title}} </div>
</div>
{%endif%}
{%endblock%}
